body {
    font-family: Arial, sans-serif;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #date {
    width: 97%;
    display: flex;
    margin-bottom: 10px;
  }
    
  #date input {
    width: 5%;
    flex-grow: 1;
    margin-right: 5px;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li span {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  